<head>
    <style>
        body {
            background-color: #8da5af;
        }
        .canvas {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
            border-radius: 1rem;
            width: fit-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 1rem;
        }
        .container h1 {
            font-size: 50px;
            color: #fff;
            font: bold;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .container img {
            margin-left: 0%;
            width: 60px;
            height: 60px;
            padding-right: 1rem;
            transition: 1.5s;
        }
        .container img:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: 1s;
        }
        .container img:active {
            transform: scale(1.2);
            transition: 5ms;
        }
        button {
            height: 100%;
            width: 100%;
            opacity: 100%;
            border-radius: 1rem;
            background-color: transparent;
            border: none;
        }
        footer {
            position: fixed;
            bottom: 0;
            width: 99.6%;
            margin-left: -0.5rem;
            margin-bottom: -0.5rem;
            height: 3rem;
            padding: 0.5rem;
            background-color: #dfe6e9;
            border-radius: 1rem;
        }
        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0; 
            position: absolute;
            z-index: 1;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>
</head>

<script>
    function copyText() {
        const text = document.querySelector('h1').innerText;
        navigator.clipboard.writeText(text);
    }
</script>

<div class="canvas">
    <div class="container">
        <button onclick="copyText()">
            <img src="https://img.icons8.com/?size=512&id=PLUHvGVM7tbp&format=png" alt="link">
        </button>
        <h1>{{text}}</h1>
    </div>
</div>

<footer>
    <div class="tooltip">
        <a href="https://github.com/MrEnder0">
            <span class="tooltiptext">Check out my GitHub</span>
            <img src="https://img.icons8.com/?size=512&id=EunjSDvCQ0Ry&format=png" alt="github" style="height: 100%;">
        </a>
    </div>
</footer> 